body {
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Comic Sans MS, sans-serif; 
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 80px;
}

p {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}
